body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: white;
  background-color: #121212;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

header {
  background-color: rgb(0, 0, 0);
  border-bottom-color: rgb(179, 179, 179);
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


main {
  padding-top: 80px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 0px #000, 4px 4px 5px rgba(0, 0, 0, 0.5);
}

#album-section {
  min-height: calc(100vh - 80px);
}

#album-container {
  position: relative;
  height: calc(100vh - 160px);
}

.album {
  position: absolute;
  width: 180px;
  height: 180px;
  cursor: grab;
}

.album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.album:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.popup {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
